<div>
    Template Driven Form:
</div>
<br>
Form Valid Status: {{ myform.valid }}
<!--
<br>
firstname Valid Status: {{ myform.firstname.valid }}
<br>
lastname Valid Status: {{ myform.lastname.valid }}
br
myhobby Valid Status: {{ myform.myhobby.valid }}
<br> -->

<form #myform="ngForm" (ngSubmit)="getFormData(myform)">
    <label>First Name: </label>
    <input type="text" [(ngModel)]="fname" name="firstname" required> {{fname}}
    <span >Input name is required!</span>
    <br>
    <label>Last Name: </label>
    <input type="text" [(ngModel)]="lname" name="lastname" required> {{lname}}
    <br>
    <label >Hobby:</label>
    <select  [(ngModel)]="hobby"  name="myhobby" required>
        <option value="swimming">Swimming</option>
        <option value="driving">Driving</option>
        <option value="hacking">Hacking</option>
        <option value="sleeping">Sleeping</option>
    </select>
    {{ hobby }}
    <br>
    <button type="submit" [disabled]="!myform.valid" >Add</button>
</form>