<h1>Angular Beginner</h1>
Title: {{mytitle}}
<br>
<br>
Score: {{ score }}
<hr>



<a routerLink="home">Home</a> &nbsp;
<a routerLink="contact">Contact</a>&nbsp;
<a routerLink="team">Team</a>&nbsp;
<a routerLink="first">First</a>&nbsp;
<a routerLink="second">Second</a>&nbsp;
<a routerLink="family">Family</a>&nbsp;
<a routerLink="directive">Structural Directive</a>&nbsp;
<a routerLink="pipes">Pipes</a>&nbsp;
<a routerLink="allforms">Forms</a>&nbsp;
<a routerLink="consumeallservices">Consume Services</a>&nbsp;

<router-outlet></router-outlet>

