<p>*ngIf directive demo (plain):</p>
<p>Display: {{display}}</p>
<div>
    <button (click)="toggle()">Hide And Seek</button>
    <div class="ddd" *ngIf='display'>
        <img src="assets/images/logo.jpg" >
    </div>
</div>

<p>*ngIf directive with else criteria:</p>
<br>
<button (click)="toggleElse()">ngIf Else</button>
<div>
    
    <div class="ddd" *ngIf='elsecheck; else displaylogo'>
        <img src="assets/images/insta.png" width="40%">
    </div>
    <ng-template #displaylogo>
        <img src="assets/images/logo.jpg" >
    </ng-template>
    
</div>
